$back-color1 :rgba(255, 237, 222, 1);
$back-color2 :rgba(255, 245, 236, 1);
$theme1:rgba(254, 4, 60, 1);
$theme2:rgba(53, 205, 140, 1);
$text_indigo:rgba(46, 38, 111, 1);
$text_grey:rgba(112, 112, 112, 1);

@mixin logo{
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 72px;
/* identical to box height */

text-align: center;
color: $theme1;
}

@mixin list{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
text-align: center;
}

@mixin h1style{
    font-family: Poppins;
font-style: normal;
font-weight: 900;
font-size: 125px;
line-height: 100px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #2E266F;

opacity: 0.05;
}

@mixin h3style{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 50px;
/* or 125% */

display: flex;
align-items: center;
text-transform: capitalize;

color: #2E266F;

}


